<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Spotify Player</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Spotify Player</h1>
        <form action="/play" method="post">
            <button type="submit">Call Function</button> 
        </form>
        <!-- Add a section to display N2YO result -->
            <div id="n2yo-result">
                <h2>The Nearest Satellite</h2>
                <p>Satellite ID: <span id="satellite-id"></span></p>
                <p>Satellite Name: <span id="satellite-name"></span></p>
                <p>Satellite Launch Year: <span id="satellite-year"></span></p>
            </div>
    </div>
</body>
</html>
