body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/originals/fc/c6/0a/fcc60a6044f5ea1b7d16025b951ca307.gif");
    background-size: cover; /* This ensures that the background image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: rgb(0, 60, 255); /* Changed text color to dark red */
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* Added styling for the section displaying satellite information */
#n2yo-result {
    background-color: white; /* Added white background */
    padding: 20px; /* Added padding for better spacing */
    border-radius: 8px; /* Added border-radius for rounded corners */
    margin-top: 20px; /* Added margin-top for separation */
    color: rgb(0, 0, 0); /* Changed text color to dark red */
}

#n2yo-result h2 {
    margin-bottom: 10px; /* Added margin-bottom for better spacing */
}
